/CNN.ipynb
/cnnforimage.ipynb
/CNNmodel
/gender_submission.csv
/image_classification.ipynb
/kaggle_competition.ipynb
/model.tflite
/models
/mycnn.ipynb
/neural_network.ipynb
/Teeth Detection.v1i.yolov11
/teeth.ipynb
/test.csv
/train.csv